<div ng-repeat="session in sessionInfo">    
    <div class="container panel panel-primary">
      <p class="clearfix">
        <span class="pull-left">{{session.id}}</span>
        <span class="pull-right">{{session.title}}</span>
      
      </p>
      
      <ul  class="nav nav-pills">
        <li class="active">
          <a  href="#{{session.id}}a" data-toggle="tab">Description</a>
        </li>
        <li><a href="#{{session.id}}b" data-toggle="tab">Schedule</a>
        </li>
        <li><a href="#{{session.id}}c" data-toggle="tab">Speakers</a>
        </li>
      </ul>

      <div class="tab-content clearfix">
        <div class="tab-pane active" id="{{session.id}}a">
          <h3>Description</h3>
          {{session.description}}
        </div>
        <div class="tab-pane" id="{{session.id}}b">
          <h3>Schedule</h3>
          
        </div>
        <div class="tab-pane" id="{{session.id}}c">
          <h3>Speakers</h3>
          <div ng-repeat="speaker in session.speakerInfo">
          <p>{{speaker.name}}, 
          <span ng-if="vm.testObject">
            {{speaker.organization}}, {{speaker.email}}, {{speaker.jobTitle}}
          </span></p>
          </div>
        </div>
        
      </div>
      
    </div>
    <hr>
</div> 